bin/
obj/
.vs/
.idea/
.vscode/

*.dll
*.exe
*.pdb
*.user
*.vspscc

packages/
project.lock.json
project.fragment.lock.json
artifacts/

*.user
*.userosscache
*.suo
*.userprefs

Thumbs.db
Desktop.ini

.DS_Store

.vscode/


